.main-navbar .nav-container{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #65B1AD;
    height: 85px;
}
.main-navbar .nav-container .nav-contato, .nav-projetos, .nav-sobreMim{
    margin: 0 8px;
    padding: 8px;
    border-radius: 5px;
    color: #333636;
    cursor: pointer;
}