.main-form .form-container{
    display: flex;
    height: 500px;
    align-items: center;
    flex-direction: column;
    background-color: #333636;
}

.main-form .main-label{
    color: #FFF;
    font-size: 20px;
}

.main-form .main-input{
    font-size: 20px;
    width: 50%;
    border:3px lightblue solid;
    padding-left: 5px;
    padding-right: 5px;
    
}

.main-form .main-input.-textarea{
    height: 200px;
}

.main-form .main-button{
    width: 10%;
    background-color: lightblue;
    border-radius: 8px;
    color: #333636;
    border: 3px #000 solid;
    padding: 8px;
    margin: 25px 0 80px 0;
    font-weight: bold;
    cursor: pointer;
}