.skill-tec{
    padding: 0 0 30px 10px;
    display: flex;
}

.skill-tec .skill-title{
    color: lightblue;
}

.skill-tec .skill-icon{
    width: 56px;
}

.skill-tec .skill-bar{
    border: 3px #000 solid;
    height: 30px;
    background-color: #FFF;
    width: 300px;
}

.skill-tec .skill-bar::-webkit-progress-value{
    background-color: lightblue;
}

@media only screen and (max-width: 768px){
    .skill-tec .skill-title{
        font-size: 15px;
    }

    .skill-tec .skill-icon{
        width: 45px;
        padding-right: 5px;
    }

    .skill-tec .skill-bar{
        width: 130px;
    }
    .skill-tec .skill-icon{
        width: 40px;
    }
}

@media only screen and (max-width: 425px){
    .skill-tec .skill-bar, .skill-tec .skill-icon, .skill-tec .skill-title, .skill-tec{
        visibility: hidden;
        overflow: hidden;
    }
}