.skill-tec{
    padding: 0 0 15px 10px;
    display: flex;
}

.skill-tec .skill-title{
    color: lightblue;
}

.skill-tec .skill-icon{
    width: 56px;
}

.skill-tec .skill-bar{
    border: 3px #000 solid;
    height: 30px;
    background-color: #FFF;
    width: 300px;
}

.skill-tec .skill-bar::-webkit-progress-value{
    background-color: lightblue;
}