.main-title{
    text-align: center;
    color: #65B1AD;
    padding-bottom: 15px;
    font-size: 40px;
    
}

.main-paragraph{
    color: #65B1AD;
    text-align: justify;
    padding: 0 10px;
    font-size: 19px;
}

.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65B1AD;
    height: 85px;
}

.main-footer .footer-link{
    padding-left: 5px; 
}

.main-footer .footer-link:first-child{
    padding-left: 0; 
}