.main-title{
    text-align: center;
    color: lightblue;
    padding: 15px 0 15px 0;
    font-size: 40px;
}

.main-paragraph{
    color: lightblue;
    text-align: justify;
    padding: 0 10px 0 15%;
    letter-spacing: 3px;
    font-size: 19px;
}

.button-top{
    outline: none;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background: black;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease;
}

.imga{
    width: 50%;
    filter:invert();
    vertical-align: middle;
}

.button-top.active{
    opacity: 1;
    visibility: visible;
}

.main-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 85px;
}

.main-footer .footer-link{
    padding-left: 5px; 
}

.main-footer .footer-link:first-child{
    padding-left: 0; 
}

.main-footer .footer-img{
    width: 55px;
}

.main-footer .footer-img.-less{
    width: 50px;
}

@media only screen and (max-width: 1024px){
    .main-title{
        font-size: 30px;
    }

    .main-paragraph{
        padding: 0 10px 0 25%;
        letter-spacing: 1px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px){
    .main-title{
        font-size: 25px;
    }

    .main-paragraph{
        padding: 0 5px 0 25%;
        font-size: 14px;
    }
  }

  @media only screen and (max-width: 425px){
    .main-title{
        font-size: 23px;
    }

    .main-paragraph{
        text-align: justify;
        padding: 0 15px 0 15px;
        font-size: 13px;
    }
  }

  @media only screen and (max-width: 375px){
    .main-paragraph{
        text-align: justify;
        padding: 0 15px 0 15px;
        font-size: 12px;
    }
  }